<template>
  <div class="asideMenu">
    <ul class="asideMenu_items">
      <li class="asideMenu_item">
        <div class="asideMenu_title" href="#">
          Components
        </div>
        <ul class="asideMenu_items">
          <li class="asideMenu_item">
            <a class="asideMenu_link" href="accordion.html" target="_blank">Accordion</a>
          </li>
        </ul>
      </li>
      <li class="asideMenu_item">
        <a href="#">item2</a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {

}
</script>

<style>
.asideMenu {
  overflow-y: auto;
}
.asideMenu a, .asideMenu .asideMenu_title {
  color: #999;
}
.asideMenu .asideMenu_logo {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgb(124, 128, 109);
}
.asideMenu .asideMenu_items {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.asideMenu .asideMenu_items {
  /* height: 40px; */
  overflow: hidden;
  transition: all;
  padding-bottom: 20px;
}
.asideMenu .asideMenu_item-active
.asideMenu .asideMenu_item {
  display: block;
}
.asideMenu .asideMenu_item > .asideMenu_items .asideMenu_link {
  padding-left: 24px;
}

.asideMenu .asideMenu_link:hover {
  color:rgb(48, 49, 82);
}

.asideMenu .asideMenu_link, .asideMenu .asideMenu_title {
  padding: 12px 12px 8px 0;
  display: block;
  cursor: pointer;
}
</style>
