<template>
  <div class="container container-fluid">
    <Header />
    <main id="l-main">
      <div class="row">
        <aside id="l-aside" class="col-2">
          <Aside></Aside>
        </aside>
        <article id="l-article" class="col-8">
          <nuxt />
        </article>
      </div>
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from '@/layouts/header.vue'
import Footer from '@/layouts/footer.vue'
import Aside from '@/layouts/aside.vue'
export default {
  components: {
    Header, Footer, Aside
  },
  created () {
    if (this.$isServer) {
      console.info('[Server message]: this message is from layouts/default.vue on created')
    } else {
      console.info('[Client message]: this message is from layouts/default.vue on created')
    }
  }
}
</script>

<style>
body {
  /* overflow: hidden; */
}
#l-aside {
  position: sticky;
  height: 100vh;
  top: 4.5rem;
  border-right: 1px solid #eee;
  overflow-y: auto;
}
#l-article {

}
#l-main {
  /* background-color: #f0f2f5; */
}
#l-article {
  border-right: 1px solid #eee;
}
</style>
