<template>
  <footer id="l-footer">
    <section>
      <div class="row">
        <div class="col-12">
          <p class="t-center">
            © 2019 Match. All rights reserved.
          </p>
        </div>
      </div>
    </section>
  </footer>
</template>
<script>
export default {

}
</script>

<style>
  #l-footer{
    background-color: rgb(243, 243, 243);
    border-top: 2px solid rgb(228, 228, 228);
  }
</style>
