<template>
  <header id="l-header">
    <section>
      <div class="row">
        <div class="col-2">
          <a id="brand" href="#">Logo</a>
        </div>
        <div class="col-8">
          <nav>
            <ul class="nav">
              <li class="nav__item">
                <nuxtLink class="nav__link" to="/">
                  首頁
                </nuxtLink>
              </li>
              <li class="nav__item">
                <nuxtLink class="nav__link" to="/template_ssr">
                  SSR 範例
                </nuxtLink>
              </li>
              <li class="nav__item">
                <nuxtLink class="nav__link" to="/template_spa">
                  SPA 範例
                </nuxtLink>
              </li>
              <li class="nav__item">
                <nuxtLink class="nav__link" to="/history">
                  更新紀錄
                </nuxtLink>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-2"></div>
      </div>
    </section>
  </header>
</template>
<script>
export default {

}
</script>

<style>
#l-header {
  background: #fff;
  box-shadow: 0px 1px 10px 0 rgba(0,0,0,.2);
  position: sticky;
  width: 100%;
  z-index: 999;
  top: 0;
}
#brand {
  display:block;
  line-height: 36px;
  color: #bbb;
  font-size: 1.5rem;
  letter-spacing: .275rem;
}
</style>
