<template>
  <div class="clock">
    <div class="clock-circle"></div>
    <div :style="{transform:hourRotate}" class="clock-hour"></div>
    <div :style="{transform:minuteRotate}" class="clock-minute"></div>
    <b v-for="h in timeList" :key="h" class="hour">
      <span>{{ h }}</span>
    </b>
  </div>
</template>
<script>
export default {
  props: {
    time: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      timeList: [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
      hourRotate: 'rotatez(0deg)',
      minuteRotate: 'rotatez(0deg)'
    }
  },
  watch: {
    time () {
      this.show()
    }
  },
  mounted () {
    this.show()
  },
  destroyed () {
    if (this._timer) {
      clearInterval(this._timer)
    }
  },
  methods: {
    show () {
      this.showTime()
      if (this._timer) {
        clearInterval(this._timer)
      }
      if (!this.time) {
        this._timer = setInterval(() => {
          this.showTime()
        }, 60 * 1000)
      }
    },
    showTime () {
      let times
      if (this.time) {
        times = this.time.split(':')
      } else {
        const now = new Date()
        times = [now.getHours(), now.getMinutes()]
      }

      let hour = +times[0]
      hour = hour > 11 ? hour - 12 : hour
      const minute = +times[1]
      const hourAngle = hour * 30 + ((minute * 6) / 360) * 30
      const minuteAngle = minute * 6
      this.hourRotate = `rotatez(${hourAngle}deg)`
      this.minuteRotate = `rotatez(${minuteAngle}deg)`
    }
  }
}
</script>
